.header-style {
  background-color: #990527;
  margin-bottom: 30px;
  padding: 48px 48px;
}
.header-title {
  font-size: 48px;
  color: #fdfcff;
}
.header-p {
  color: #fdfcff;
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 400;
}
.footer-size {
  // position: fixed;
  // bottom: 0;
  // width: 100%;
  height: 50px;
  background-color: #f2f2f2 !important;
  // padding:25px;
}

.footer-size.p-text {
  font-size: 14px !important;
  font-weight: 400 !important;
}
.footer-size.p-anch {
  color: #337ab7 !important;
  text-decoration: none;
  font-size: 14px;
}
