<!DOCTYPE html>
<head>
    <title></title>
</head>

<body>
    <div style="background-color: #990527; margin-bottom: 30px; padding: 48px 48px;">
        <div class="container text-center">
            <h1 style="font-size:48px ; color:#fdfcff ">Self-serve Operations Help Desk</h1>
            <p style="color:#fdfcff; margin-bottom: 15px; font-size: 21px;
                font-weight: 400;"> Why go to AWS console everytime to get specific information? Use our Self-serve
                Operations Help Desk to quickly fetch information related to various AWS services. This would save your
                time and efforts. Just give it a try!!!</p>
        </div>
    </div>
    <div class="container text-justify" style="font-size: 14px;line-height: 1.42857143;color: #333;">
        Self-serve Operations Help Desk speeds up development and operations by enabling teams to collaborate and
        execute tasks fastly.
        It uses natural language which helps user to quickly query and get responses. It will help your team to stay
        updated with actions executed in your projects.
    </div>
    <br>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-lg-3" style="padding: 15px;" *ngFor="let menuOption of temp; let rowindex = index">
                <a>
                    <div style="padding: 10px;"><img alt="" height="120" width="120" src="{{menuOption.image}}"></div>
                    <div><button type="button" class="btn btn-primary" (click)="openChatBox(menuOption.id)" >{{menuOption.menuName}}</button></div>
                </a>
            </div>
        </div>
    </div>
</body>
<footer></footer>

</html>
<app-chatbox *ngIf="isShowPopup" [selectionInfo]="selectionInfo" (closeChatBoxModel)="closeChatBoxModel($event)" ></app-chatbox>